/* assets/scss/_fonts.scss */

@font-face {
    font-family: "Onest";
    src:
        url("../fonts/Onest-Regular.woff2") format("woff2"),
        url("../fonts/Onest-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Radiotechnika";
    src:
        url("../fonts/Radiotechnika.woff2") format("woff2"),
        url("../fonts/Radiotechnika.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src:
        url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Terminator-cyr";
    src:
        url("../fonts/terminator-cyr.woff") format("woff2"),
        url("../fonts/terminator-cyr.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
