@import "./fonts";
@import "./vars";
@import "./reset";
@import "./mixin";
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    box-sizing: border-box;
    // overflow-y: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: $black;
    color: $white;
    min-height: 100vh;
    // overflow-y: hidden;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    // width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
}
button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
}

::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #67e78b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #67e78b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #67e78b;
}
.tooltip-or-dropdown {
    position: relative;
    display: inline-block;
}

/* десктоп — тултип */
.tooltip-text {
    position: absolute;

    transform: translateX(-50%);

    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
    max-width: 170px;
    width: 100%;
    text-align: center;
}
.top-left {
    .tooltip-text {
        bottom: 100%;
    }
}
.top-right {
    .tooltip-text {
        bottom: 100%;
        right: 0;
    }
}
.bottom-right {
    .tooltip-text {
        bottom: 100%;
        right: 0;
    }
}
.bottom-left {
    .tooltip-text {
        bottom: 100%;
        right: 0;
    }
}
.bottom-center {
    .tooltip-text {
        width: auto;
    }
}
.tooltip-or-dropdown:hover .tooltip-text {
    opacity: 1;
}

/* мобилка — дропдаун */
@media (max-width: 1024px) {
    .tooltip-text {
        display: none !important;
    }

    .dropdown-text {
        margin-top: 8px;
        background: rgba(0, 0, 0, 0.05);
        padding: 8px;
        border-radius: 6px;
        font-size: 14px;
        display: block;
    }
}
