@import "./fonts";
@import "./vars";
@import "./reset";
@import "./mixin";
html,body{
    overflow-y: hidden;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: $black;
    color: $white;
    min-height: 100vh;
    // overflow-y: hidden;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    // width: 100%;
    margin: 0 auto;
    @media screen and (max-width:768px){
        padding: 0 10px;
    }
}
button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
